body {
    font-family: Arial, sans-serif;
    background-image: url('https://w0.peakpx.com/wallpaper/293/1023/HD-wallpaper-anime-scenery-with-water-anime-scenery-water-steps-grass-sky-animation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 15px  
}
.Main-Container {
    background: rgb(0, 0, 0, 0.4); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(20px);
}
img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.Elements-Container {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}
.contact-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    position: relative;
    z-index: 10; 
}

.contact-images a {
    display: inline-block; 
    position: relative; 
}

.contact-images img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 10px rgb(255, 255, 255, 0.8));
}
